@use "vars" as *;

.separator-jumbo {
    height: 50px;
    width: 100%;
    background-color: $cl-main;
    position: relative;

    img {
        height: 200px;
        position: absolute;
        bottom: 70%;
    }
}

.container-content {
    display: flex;

    main {
        background-color: white;
    }
}

.content {
    width: 70%;
    height: 200px;
    h1 {
        font-size: 2rem;
    }
}

.advertisement {
    width: 30%;
    height: 200px;
    img {
        padding: 20px;
    }
}

.price-section {
    width: 100%;
    margin: 20px 0;
    background-color: $bgc-price-bar;
    display: flex;
    justify-content: space-between;

    button {
        color: white;
        background-color: $bgc-price-bar;
        border: 0;
        padding: 0 20px;
        cursor: pointer;
    }

    .price {
        color: white;
    }
    h6 {
        color: #baf980;
        padding: 10px 20px;
        font-size: 1rem;
    }
}
