@use "vars" as *;

.banner {
    padding: 10px 40px;
    background-color: $cl-main;
    color: white;
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -5px;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.card {
    width: 100%;

    figure {
        height: 250px;
        margin-bottom: 20px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}
.card-body {
    display: flex;
    flex-wrap: wrap;

    li {
        width: calc(100% / 6 - 20px);
        margin: 20px;
    }
}

.card a:hover {
    color: $cl-main;
}

.cards {
    height: 100%;
    width: 100%;
    background-color: black;
}

.series {
    color: white;
}
